/* General page styling */
body {
    margin: 0;
    padding: 0;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-weight: bolder;
    overflow: hidden;
    /* Disable scrolling */
    height: 100vh;
}

/* BlockList styling: covering 100% width at the top */
.block-list {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #46c9ac, #2e8673);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
    /* Ensure it stays on top */
}

.block-list button {

    background: linear-gradient(to right, #13c9a2, #0c896e);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.5s;
    width: 150px;
    font-weight: bold;
    /* Fixed width for equal size */
}

.block-list button:hover {
    transform: perspective(1000px) rotateY(20deg);
    background: linear-gradient(to right, #13c9a2, #13c9a2);
}

/* Flex container for BlockDetails and TransactionDetails */
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    height: calc(100vh - 120px);
    /* Remaining height after BlockList */
    margin-top: 120px;
    /* Offset for BlockList's height */
}

/* BlockDetails and TransactionDetails components */
.block-details,
.transaction-details {
    width: calc(100%);
    /* Equal width*/
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    /* Scrollable content */
    height: 100%;
    border-radius: 10px;
    scrollbar-width: none; 
    /* Scrollbar hidden for firefox*/
}

.block-details::-webkit-scrollbar,
.transaction-details::-webkit-scrollbar {
    display: none; /* Scrollbar hidden for Chrome, Safari, Edge */
}

.block-details {
    background: linear-gradient(to right, #2e8673, #46c9ac);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #000000;
}
.transaction-details {
    background: linear-gradient(to right, #46c9ac, #256d5e);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #000000;
}

h3 {
    font-weight: bolder;
    font-style: italic;
}

.block-details {
    margin-right: 5px;
    /* 5px space between block details and transaction details */
}

.transaction-details {
    margin-left: 5px;
}

/* BlockDetails content: making buttons equal size */
.block-details button {
    background: linear-gradient(to right, #13c9a2, #0c896e);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    color: #000000;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.5s;
    font-weight: bold;
}

.block-details button:hover {
    transform: perspective(1000px) rotateY(10deg);
    background: linear-gradient(to right, #13c9a2, #13c9a2);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .block-details,
    .transaction-details {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .block-details {
        margin-right: 0;
    }

    .transaction-details {
        margin-left: 0;
    }
}